<ion-content>
  
  <ion-grid class="reward-details">
    <ion-row class="header-style">      
      <ion-col size="3" class="icon-title">FinESG</ion-col>
      <ion-col size="7" class="align-right"><img src="assets/leaf_score.png"></ion-col>
      <ion-col class="close-icon"><ion-icon name="close-outline" (click)="closeclick()"></ion-icon></ion-col>
    </ion-row>
    <ion-row class="point-row">
      <ion-col class="point-head">
        <ion-grid>
          <ion-row>
            <ion-col size="3" class="circle-leaf">
              <img src="assets/Leaf_circle.png">
            </ion-col>
            <ion-col class="point-col" size="6">
              <div class="score-info">Your green score</div>
              <div class="point" >{{score}} pt<span class="cal">(34 Kcal)</span></div>
            </ion-col>
            <ion-col class="star-col">
              <ion-icon name="star"></ion-icon>
              <ion-icon name="star-outline"></ion-icon>
              <ion-icon name="star-outline"></ion-icon>
            </ion-col>
          </ion-row>
        </ion-grid>
      </ion-col>
    </ion-row>   
    <ion-row class="transaction-header-row">     
      <ion-col>Badges</ion-col>
    </ion-row>
    <ion-row class="badge-row">
      <ion-col *ngFor="let badge of badgelist">
        <img [src]="badge.image">{{badge.level}}
      </ion-col>
    </ion-row>
    <ion-row class="transaction-header-row">
      <ion-col>Enjoy your coupons</ion-col>
    </ion-row>
   <ion-row *ngFor="let coupon of couponlist" class="coupon-row">
      <ion-col size="1" class="coupon-pin-col"><img src="assets/pin_reward.png"></ion-col>
      <ion-col size="9" class="coupon-data-col">
        <div class="coupon-title-div">{{coupon.title}}</div>
        <div class="coupon-desc-div">{{coupon.desc}}</div>
      </ion-col>
      <ion-col class="coupon-image-col">
        <img [src]="coupon.image">
      </ion-col>
   </ion-row>
  </ion-grid>
</ion-content>

<ion-footer class="esgreward-footer">
  <ion-grid>
    <ion-row>
      <ion-col><div class="buttons" (click)="overviewClick()"><img src="assets/globe_action.png"><span>Overview</span></div></ion-col>
      <ion-col><div class="buttons" (click)="actionclick()"><img src="assets/actions.png"><span>Actions</span></div></ion-col>
      <ion-col><div class="highlighted" (click)="rewardclick()"><img src="assets/reward_highlighted.png"><span>Rewards</span></div></ion-col>
    </ion-row>
  </ion-grid>
</ion-footer>