<ion-content>
  <ion-grid class="join-style">
    <ion-row class="header-row">
      <ion-col size="1" class="back-icon">
        <ion-icon name="chevron-back-outline" (click)="backclick()"></ion-icon>
      </ion-col>
      <ion-col class="program-title">Program</ion-col>
      <ion-col size="7" class="align-right"><img src="assets/joinleaf.png"></ion-col>
    </ion-row>
    <ion-row class="program-row">
      <ion-col><img src="assets/campaignjoined.png"></ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        <div class="program-desc">Empower the youth of Zambia Through education and leadership, to break the cycle of poverty in their communities.</div>
        <div class="program-type">Charity</div>
        <div class="program-detail">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</div>
        <div class="program-content">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris.</div>
      </ion-col>
    </ion-row>
   
  </ion-grid>
</ion-content>
<ion-footer class="footer-joinstyle">
  <div class="button-style" (click)="donateclick()">
    <ion-grid>
      <ion-row>
        <ion-col class="dollar-col" size="10">
          <div class="dollar-amount">Donate $1/Month</div> 
          <div class="donate">Monthly subscription</div> 
        </ion-col>
        <ion-col >
          <img src="assets/donatearrow.png">
        </ion-col>
      </ion-row>
    </ion-grid>
  </div>
    
</ion-footer>