<ion-content class="score-page-style">
  <ion-grid class="score-style-grid">
    <ion-row>
      <ion-col class="score-welcome">Great Haley,<br/>Here is your actual green score</ion-col>
    </ion-row>
    <ion-row>
      <ion-col class="ion-justify-content-center"><div class="center-circle"><img src="assets/leaf_score.png"></div></ion-col>
    </ion-row>
    <ion-row>
      <ion-col class="finesg-title">{{score}} pt</ion-col>
    </ion-row>
    <ion-row >
      <ion-col class="finesg-cal">34kcal</ion-col>
    </ion-row>
    <ion-row class="footer-row">
      <ion-col><div class="outline forward-col" (click)="forwardclick()"><ion-icon name="chevron-forward-outline" ></ion-icon></div></ion-col>
    </ion-row>
  </ion-grid>

</ion-content>
